
  .icon-bar {
    width : 100%;
    height: 50px;
    position: fixed;
    background-color: lightgreen;
    top: 0; 
    left: 0;
    text-align: right;
    display: inline-block;
    
  }

  .icon-bar a{
    padding: 10px 50px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    font-family: Slabo;
    
  }
  
  .icon-bar a:hover {
    color: #f1f1f1;
    background-color: white;

  } 


.sidebar{
  height: 1080px; 
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index:-1 ;
  top: 0; /* Stay at the top */
  left: 0;
  background-color: lightgray; /* Black */
  overflow-x: hidden; 
}